html  {
    box-sizing: border-box;
    
}
body {
    font-family: 'Forum', cursive;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    height: 100%;
   
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.logo {
    background-image: url(img/Logo.svg);
    width: 195px;
    height: 50px;
}

header {
    background: #030303;
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto; 
    padding: 75px 0;
    
}

.header {
height: 124px;
display: flex;
/* justify-content: space-between; */
align-items: center;

}

.header__navigation {
    margin-left: 36%;
}

.nav__list {
    width: 720px;
    height: 50px;
    display: flex;
    /* justify-content: space-between; */
    
}

.nav__items {
    list-style: none;
    margin-right: 10%;
}

.nav__links {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFFFFF;
    transition: all 0.3s ease-out;

}

.nav__links:hover {
    color: #9D8665;
}

.nav__links:active {
    color: #9D8665;
}

main {
    /* width: 100%; */
}

.section-welcome {
    background-color: #030303;
    width: 100%;
    
}
.welcome {
    height: 836px;
    display: flex;
    position: relative;
    

}
.welcome__content {
    width: 598px;
    height: 390px;
    position: absolute;
    z-index: 2;
    top: 190px
    
}

h1 {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.welcome__caption {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-top: 26px;
    margin-bottom: 76px;

}

.discover-btn {
    width: 360px;
    height: 75px;
    background: #710707;
    border-radius: 10px;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    border: 1px;
} 

.main__louvre {
    background-image: url(/img/background-welcome.jpg);
    background-size: cover;
    width: 1215px;
    height: 750px;
    position: absolute;
    z-index: 0;
    right: -240px;
    bottom: 0;
}

.section-virtual-tour {
    width: 100%;
}

.section-tours {
    /* height: 1265px; */
    
}

h2 {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.underline {
    height: 3px;
    background: #710707;
    margin-top: 25px;
    border: 0px solid #710707;
    
}

.big-line {
    width: 1440px;
    margin-bottom: 75px;
}

.small-line {
    width: 300px;
    height: 2px;
    margin-top: 9px;
}

.tours-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
}

.tours {
    margin-bottom: 78px;
    
}

h3 {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 25px;

}

h4 {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-top: 10px;

}

.tours_google-adress {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
}

.section-explore {
    background-color: #030303;
    width: 100%;
}

.explore {
    display: flex;
}

.explore-line {
    width: 660px;
    margin-bottom: 75px;
}

.explore-content {
    /* width: 660px; */
    width: 46%;
    
}

.explore-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.explore-span {
    color: #CAAA7D;
}

.explore-picture {
    background-image: url(/img/picture-explore.jpg);
    height: 700px;
    width: 720px;

    margin-left: 60px;
    padding-top: 15px;
    
}

video {
    object-fit: cover;
    width: 100%;
    height: 714px;
}

video::-webkit-media-controls-panel {
   
}

video::-webkit-media-controls-mute-button {
    opacity: 1;;
}

video::-webkit-media-controls-fullscreen-button {
    opacity: 2;
    
}

.video-content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-text {
    width: 720px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #000000;

}

.section-buy_tickets {
    background-color: #030303;
}

.tickets-content {
    display: flex;
    
}

.tickets-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    /* margin-bottom: 50px; */
}

.tickets-type {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.basic-text, .senior-text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}
.tickets {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    width: 658px;
}

.type-colomn { 
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.type-colomn input {
    /* margin-right: 23px;
    margin-bottom: 50px; */
    opacity: 0;;
}


.tickets-type {
    margin-right: 30px;
}

.tickets-type::before {
    content: "";
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 3px;
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 23px;
    background-color: #000000;
    /* margin-bottom: 50px; */

}

.type-colomn input:checked+.tickets-type::before {
    background-color: #FFFFFF;
    
}

.tickets-amount {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.tickets-amount .tickets-text {
    text-align: end;

}

.basic-text {
    margin-top: 11px;
    margin-bottom: 14px;
}

.senior-text {
    margin-top: 35px;
    margin-bottom: 14px;
}

.number-amount {
    width: 150px;
    height: 50px;
    border: 3px solid #FFFFFF;
    display: flex;
}

.input-amount {
    width: 57px;
    background: #000000;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.amount-btn {
    width: 45px;
    background: #000000;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    border: none;

}

.amount-total {
    margin-top: 50px;
    display: inline-flex;
    justify-content: center;
}

.total {
    width: 99px;
    height: 30px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #FFFFFF;
    background: #000000;
    border: none;
    

}

.tickets-buy {
    width: 175px;
    height: 50px;
    margin-top: 50px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #000000;

}


.contacts-map {
    
    
}

.contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts-name {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 36px;
}

.contacts-adress, 
.contacts-tel,
.contacts-email {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 20px;
}

.footer {
    background: #030303;
    width: 100%;
}

.footer-container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto; 
    padding: 84px 0;


}


.colomns {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-start;

}

.footer__menu {
    width: 220px;
    margin-left: 145px;
}

.footer__menu-items {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #FFFFFF;

}

.footer__social-media {
    padding-top: 84px;
    margin-left: 400px;
}

.social-list {
    display: flex;
    position: relative;
    

}

.social-items {
    list-style: none;
    margin-left: 24px;
    
   

    
}


.social-links {
    text-decoration: none;
    
}

.footer-media {
    width: 48px;
    opacity: 1;
}

.footer-media:hover {
    opacity: 0;
}

.social-media-hover {
    position: absolute;
    z-index: 1;
    opacity: 0;
    
}

.social-media-hover:hover {
    opacity: 1;
}








@media screen and (max-width: 1440px)  {
.container {
    width: 1400px;  
}
.header__navigation {
    margin-left: 33%;
}
.welcome {
    height: 734px;
}
.welcome__content {
    top: 82px;
}
.main__louvre {
    
}
.tours-list {
    grid-template-columns: 425px 425px 425px;
    grid-template-rows: 1fr 1fr;
    row-gap: 70px;
}
.tours {
    margin-bottom: 0;
}
.explore {
    flex-direction: column;
}
.explore-content {
    width: 100%;
}
.explore-line {
    width: 1400px;
}
.explore-picture {
    height: 900px;
    width: 1120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 130px;
}
video {
    width: 1400px;
}
.video-content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.video-text {
    width: 100%;
}
.tickets-content {
    flex-direction: column-reverse;
}
.tickets {
    width: 808px;
}
.tickets-buy {
    margin-bottom: 50px;
}
.tickets-image {
    width: 1350px;
    align-self: center;
}
.contacts-content {
    flex-direction: column;
}
.footer-container {
    width: 1400px;  
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 1fr 1fr;
    justify-content: flex-start;
    align-items: center;

}
.footer__social-media {
    margin-left: 300px;
}
}

@media screen and (max-width: 1024px) {
    .container {
        width: 1000px;
        
    }
    .footer-container {
        width: 1000px;
    }
    
}

@media screen and (max-width: 760px) {

} 
